@model List<Foody.EntityLayer.Concrete.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/LayoutAdmin.cshtml";
    int Count = 0;
}
<div class="card">
    <div class="card-header">
        <div class="card-title">Category List Table</div>
    </div>
    <div class="card-body">
        <table class="table table-head-bg-success mt-12">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Update</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var categories in Model)
                {
                    Count++;

                    <tr>
                        <td>@Count</td>
                        <td>@categories.CategoryName</td>
                        <td>@(categories.CategoryStatus == true ? "Active" : "Passive")</td>
                        <td>
                            <a href="/Categories/DeleteCategory/@categories.CategoryId" class="btn btn-black">
                                <span class="btn-label">
                                    <i class="fa fa-archive"></i>
                                </span>
                                Delete
                            </a>
                        </td>
                        <td>
                            <a href="#" class="btn btn-warning">
                                <span class="btn-label">
                                    <i class="fa fa-exclamation-circle"></i>
                                </span>
                                Update
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

