@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
@await Component.InvokeAsync("_AdminHeadLayoutComponentPartial")
<body>
    <div class="wrapper">
        @await Component.InvokeAsync("_AdminSidebarLayoutComponentPartial")

        @await Component.InvokeAsync("_AdminMainPanelLayoutComponentPartial")
      
        <div class="container">
            <div class="page-inner">
                @await Component.InvokeAsync("_AdminPageHeaderLayoutComponentPartial")
                @RenderBody()
            </div>
        </div>

        @await Component.InvokeAsync("_AdminFooterLayoutComponentPartial")
    </div>

    @await Component.InvokeAsync("_AdminCustomTemplateLayputComponentPartial")
    </div>
    @await Component.InvokeAsync("_AdminScriptLayoutComponentPartial")
</body>
</html>
